*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', serif;
}

body{
    background-color: rgba(204, 226, 194, 1);
}

main.less-time{
    background-color: rgba(212, 214, 159, 0.9);
}

main.less-time2{
    background-color: rgba(219, 173, 173, 1);
}

.container-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(204, 226, 194, 1);
    padding-bottom: 21px;
}

.logo{
    margin-top: 2%;
}

.start-quiz-btn{
    margin-top: 2%;
    height: 100px;
    width: 350px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    background-color: rgba(53, 189, 58, 1);
    cursor: pointer;
    border: none;
    box-shadow: 6px 6px 0px 5px rgba(1, 171, 8, 1);
    border-radius: 10px;   
}

.start-quiz-btn:active{
    background-color: rgb(120, 190, 122);
}


.made-by{
    font-size: 12px;
    color: rgba(133, 133, 133, 1);
    margin-top: 9%;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.container-2{
    background-color: rgb(204, 226, 194);
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.small-logos{
    margin: 20px 0; 
    display: flex;
    justify-content: space-evenly;
}

.logo-small{
    height: 65px;
    width: 170px;
}

.volume-icon{    
    height: 15px;
    width: 30px;
}

.completed-ques{
    margin-top: 10px;
    padding: 5px 10px;
    max-width: fit-content;
    background-color: rgba(254, 195, 61, 1);
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
}

.question-bar{
    padding: 0 10px;
    margin: 0 auto;
    height: 90px;
    width: 680px;
    background-color: rgba(245, 245, 245, 0.7);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 0.2);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-bar h1{
    font-size: 16px;
    font-weight: 600;
}

.time-completed{    
    margin: 12px 0; 
    min-width: 70px;
    min-height: 30px;
    padding: 1px 10px;
    background-color: rgba(2, 164, 9, 0.8);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: max-content;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px #02a4096e;
    margin-left: 67%;
}

.time-completed.less-time{
    background-color: rgba(197, 177, 0, 0.9);
    box-shadow: 2px 2px 4px 1px rgba(197, 177, 0, 0.43);
}

.time-completed.less-time2{
    background-color: rgba(197, 12, 0, 0.9);
    box-shadow: 2px 2px 4px 1px rgba(197, 12, 0, 0.43);
}

.options-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 290px; 
    width: 680px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
}

.opt {
    width: 95%;
    border: 2px solid #d9d9d9e6;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    padding: 5px 10px;
}

.opt:hover{
    background-color: rgba(0,0,0,0.3);
}

.one, .two, .three, .four{
    font-size: 15px;
    font-weight: 500;
}

.next-page{
    color: rgb(1, 171, 8);
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 68px;
    margin-left: 40%;
}

.next-page.less-time{
    color: rgba(197, 136, 0, 1);
}
.next-page.less-time2{
    color: rgba(197, 0, 0, 1);
}

.made-by-2{
    font-size: 10px;
    color: rgba(133, 133, 133, 1);
    text-align: center;
    margin-bottom: 10px;
}

.less-time {
    background-color: rgba(212, 214, 159, 0.55);
}

.less-time2 {
    background-color: rgba(219, 173, 173, 1);
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.container-3{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 244, 240, 1);
    margin: 0 auto;
    height: 100vh;
}

.last-logo{
    margin-top: 60px;
    height: 90px;
    width: 210px;
}

.res{
    font-size: 24px;
}

.result-bar{
    height: 70px;
    width:  39%;
    background-color: rgba(255, 122, 122, 1);
    margin-top: 50px;
    border-radius: 10px;
}

.correct-bar{
    position: absolute;
    height: 70px;
    background-color: rgba(53, 189, 58, 1);
    border-radius: 10px;
}

.incorrect-ans{
    margin-top: 30px;
    margin-left: 580px;
    height: 60px;
    width: 60px;
    border: 5px solid rgba(235, 69, 69, 1);
    border-left: none;
    border-bottom: none;
}

.percent-corr{
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    margin-top: 60px;
    margin-left: -15px;
}

.percent-incorr{
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 40px;
}

.correct-ans{
    margin-top: 30px;
    margin-left: -40px;
    height: 60px;
    width: 60px;
    border: 5px solid rgba(0, 144, 6, 1);
    border-right: none;
    border-bottom: none;
}

.show-res, .compliment{
    margin: 15px;
    font-size: 16px;
    font-weight: 600;
}

.retry{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    padding-left: 15px;
    padding-right: 25px;
    text-align: center;
    color: #fff;
    background-color: rgba(53, 189, 58, 1);
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 0px 2px rgba(1, 171, 8, 1);
    border-radius: 5px;   
}

.retry:active{
    background-color: rgb(120, 190, 122);
}

.share-q{
    margin-top: 120px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(83, 83, 83, 1);
}

.share{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    width: 150px;
    
}

.share img{
    cursor: pointer;
    height: 25px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1281px) {

.logo{
    margin-top: 4%;
    height: 35%;
    width: 45%;
}
.start-quiz-btn{
    margin-top: 4%;
    height: 90px;
    width: 310px;
    font-size: 2.5rem; 
}

.made-by{
    background-color: pink;
    margin-top: 18%;
}

/* +++++++++++   container - 2 +++++++++++++++ */
.small-logos{
    margin-top: 5px;
}

.logo-small{
    margin-right: 150px;
}

.time-completed{
    margin-left: 70%;
}

.question-bar {
    margin-top: 5px;
    height: 80px;
}

.next-page{
    margin-bottom: 0px;
    margin-left: 47%;
}
}
/* +++++++++++++++  container - 3  +++++++++++++++++++++ */


.last-logo{
    margin-top: 50px;
}

.share-q{
    margin-top: 80px;
}

.share{
    margin-top: 5px;
    margin-bottom: 15px;
}

.correct-ans{
    margin-left: -55px;
}

.incorrect-ans{
    margin-left: 495px;
}




@media (max-width: 1024px) {

.logo{
    margin-top: 4%;
    height: 45%;
    width: 50%;
}
.start-quiz-btn{
    margin-top: 5%;
    height: 80px;
    width: 300px;
    font-size: 2.5rem; 
}

.made-by{
    background-color: #fff;
    margin-top: 27%;
}

/* +++++++++++   container - 2 +++++++++++++++ */

.logo-small{
    margin-right: 200px; 
}

.time-completed{
    margin-left: 73%;
}

.question-bar{
    margin-top: 0px;
    height: 80px;
    width: 620px;
}

.options-tab{
    min-height: 330px;
    width: 620px;
}

.next-page{
    margin-left: 55%;
}

.correct-ans{
    margin-left: -57px;
}

.incorrect-ans{
    margin-left: 395px;
}

}


@media (max-width: 916px) {

.logo{
    margin-top: 6%;
    height: 55%;
    width: 55%;
}
.start-quiz-btn{
    margin-top: 6%;
    height: 85px;
    width: 300px;
    font-size: 2.5rem;
}
/* +++++++++++++++++++++ */

.logo-small{
    margin-left: -30px;
}

.volume-icon, .completed-ques{
    margin-left: 60px;
}

.time-completed{
    margin-left: 75%;
}

.next-page{
    margin-left: 60%;
}

.options-tab{
    min-height: 300px;
}
/* +++++++++++++++++++++ */

.incorrect-ans{
    margin-left: 352px;
}
}

@media (max-width: 854px) {

    .incorrect-ans{
        margin-left: 330px;
    }

}

@media (max-width: 821px) {

.logo{
    margin-top: 8%;
    height: 60%;
    width: 60%;
}
.start-quiz-btn{
    margin-top: 8%;
    height: 80px;
    width: 280px;
    font-size: 2.2rem;
}
/* ++++++++++++++++++++++++++ */

.volume-icon, .completed-ques{
    margin-left: 100px;
}

.time-completed{
    margin-left: 78%;
}

.next-page{
    margin-left: 68%;
}
/* ++++++++++++++++++++++++++ */

.incorrect-ans{
    margin-left: 315px;
}

}


@media (max-width: 770px) {

.logo{
    margin-top: 8%;
    height: 60%;
    width: 60%;
}
.start-quiz-btn{
    margin-top: 12%;
    height: 70px;
    width: 240px;
    font-size: 2rem;
}

.made-by{
    background-color: red;
    margin-top: 34%;
}
/* ++++++++++++++++++++++++++++++ */

.volume-icon, .completed-ques{
    margin-left: 130px;
}

.time-completed{
    margin-left: 80%;
}

.next-page{
    margin-left: 73%;
}
/* ++++++++++++++++++++++++++++++ */

.incorrect-ans{
    margin-left: 295px;
}

}

@media (max-width: 542px) {

.logo{
    margin-top: 13%;
    height: 77%;
    width: 80%;
}

.start-quiz-btn{
    margin-top: 10%;
    height: 60px;
    width: 190px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 0px 3px rgba(1, 171, 8, 1);
}

.made-by{
    background-color: yellow;
    margin-top: 60%;
}
/* +++++++++++++++++++++++   container - 2 +++++++++++++++++++ */

.logo-small{
    height: 45px;
    margin-inline-start: 15px;
}

.completed-ques, .volume-icon{
    margin-inline-end: 15px;
}

.time-completed{
    margin-left: 80%;
}

.question-bar{
    width: 500px;
}

.options-tab{
    width: 500px;
}

.opt{
    font-size: 12.5px;

}

/* ++++++++++++++++container - 3 +++++++++++++++++++++++++ */

.result-bar{
    width: 65%;
}

.correct-ans{
    margin-left: -55px; 
}

.incorrect-ans{
    margin-left: 347px;
}

.compliment{
    font-size: 12px;
}

}

@media (max-width: 431px) {

.logo{
    margin-top: 20%;
    height: 82%;
    width: 85%;
}

.start-quiz-btn{
    margin-top: 15%;
    height: 60px;
    width: 190px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 0px 3px rgba(1, 171, 8, 1);
}

.made-by{
    background-color: blue;
    margin-top: 60%;
}
/* +++++++++++++++++++++++ */


.logo-small, .completed-ques, .volume-icon{
    margin-inline-start: auto;
}

.time-completed{
    margin-left: 75%;
}

.question-bar{
    width: 400px;
}

.question-bar h1{
    font-size: 13.5px;
}

.options-tab{
    width: 400px;
    min-height: 270px;
}

.opt{
    font-size: 12px;
    margin-top: auto;
    font-weight: 400;
}

.next-page{
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ++++++++++++++++container - 3 +++++++++++++++++++++++++ */

.incorrect-ans{
    margin-left: 275px;
}

.percent-corr, .percent-incorr {
    font-size: 16px;
}

}

@media (max-width: 415px) {
    
.result-bar{
    width: 68%;
}
}


@media (max-width: 391px) {

.logo{
    margin-top: 23%;
}

.start-quiz-btn{
    margin-top: 20%;
    height: 60px;
    width: 190px;
    font-size: 1.5rem;
    box-shadow: 3px 3px 0px 3px rgba(1, 171, 8, 1);
}

.made-by{
    margin-top: 60%;
}
/* +++++++++++++++++++++++++ */


.completed-ques, .volume-icon{
    margin-inline-start: -15px;
}

.question-bar{  
    width: 360px;
}

.time-completed{
    width: max-content;
    margin-left: 70%;
}

.options-tab{
    width: 360px;
    min-height: 280px;
}

.opt{
    font-size: 11.5px;
}

.next-page{
    margin-top: 20px;
    margin-bottom: 25px;
}

/* ++++++++++++++++container - 3 +++++++++++++++++++++++++ */

.correct-ans{
    margin-left: -45px;
    height: 50px;
    width: 50px;
}

.incorrect-ans{
    margin-left: 260px;
    height: 50px;
    width: 50px;
}

.percent-corr{
    margin-top: 50px;
}

.percent-incorr{
    margin-top: 50px;
    margin-left: 33px;
}

.result-bar{    
    width: 68%;
}

}



@media (max-width: 376px) {

.made-by{
    margin-top: 60%;
}
/* ++++++++++++++++++++++++++ */

.logo-small{
    margin-inline-start: 5px;
}

.completed-ques, .volume-icon{
    margin-left: -50px;
}

.question-bar{  
    width: 320px;
}

.question-bar h1{
    font-size: 12px;
}

.options-tab{
    width: 320px;
    min-height: 280px;
}

.opt{
    font-size: 12px;
}

.time-completed{
    margin-left: 70%;
}

.next-page{
    margin-top: 20px;
    margin-bottom: 25px;
}

/* ++++++++++++++++container - 3 +++++++++++++++++++++++++/ */

.correct-ans{
    height: 60px;
    width: 40px;
    margin-left: -35px;
}

.incorrect-ans{
    height: 60px;
    width: 40px;
    margin-left: 250px;
}

.percent-corr{
    margin-top: 55px;
}

.percent-incorr{
    margin-top: 55px;
    margin-left: 25px;
}

}

@media (max-width: 360px) {

    .incorrect-ans{
        margin-left: 240px;
    }

}


@media (max-width: 345px) {

    .incorrect-ans{
        margin-left: 230px;
    }

}


